body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("https://previews.123rf.com/images/yupiramos/yupiramos1307/yupiramos130700939/20982775-restaurante-de-piel-sobre-fondo-de-color-rosa-ilustraci%C3%B3n-vectorial.jpg");
    background-size: cover;
    background-color: #f5f0f0b6; /* Color de fondo rojo claro */
    color: #721c24; /* Color del texto rojo oscuro */
    min-height: 100vh; /* Para que el cuerpo ocupe al menos toda la pantalla visible */
    position: relative; /* Para que el footer se posicione correctamente */
}

#wrapper {
    min-height: 100vh; /* Para que el wrapper ocupe al menos toda la pantalla visible */
    display: flex;
    flex-direction: column;
}




@keyframes tituloVerdeFluor {
    from {
        text-shadow: 2px 2px 10px green;
    }

    to {
        text-shadow: 2px 2px 10px white;
    }
}

.title {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    text-decoration: underline;
    animation-name: tituloVerdeFluor;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.encuadre {
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    max-width: 900px;
    margin: 15px auto;
    padding: 20px;
    border-radius: 20px;
    background-color: lightsteelblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agregamos una sombra ligera */
}

    .encuadre label {
        display: block;
        margin-bottom: 10px;
    }


    .encuadre input,
    .encuadre textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px; /* Añadimos margen inferior para separar los campos */
        border-radius: 10px;
        border: 1px solid #919191;
        box-sizing: border-box;
        box-sizing: border-box;
    }



.input-mitad {
    width: calc(48% - 10px);
}

.btn-enviar {
    display: block;
    width: 100%;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .btn-enviar:hover {
        background-color: #45a049;
    }

.navegador a {
    margin-right: 30px;
    color: black;
    text-decoration: none;
}

.navegador {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background: linear-gradient(to left, green, white);
    padding: 1.5rem;
    text-align: center;
}

.time {
    font-size: 2.5rem;
    position: absolute;
    right: 20px;
    top: 20px;
}

.footer {
    color: black;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    padding: 0.5rem;
    background: linear-gradient(to left, black, white);
    text-align: center;
}

    .footer a {
        color: #4CAF50;
        text-decoration: none;
    }

        .footer a:hover {
            text-decoration: underline;
        }
