* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('fondologinReg.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'calibri', sans-serif;
    color: #ffffff;
}

.form-register {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri', sans-serif;
    color: white;
    box-shadow: 7px 13px 37px #000;
    text-align: center; /* Centrar el contenido del formulario */
}

    .form-register h4 {
        font-size: 22px;
        margin-bottom: 20px;
        text-align: center; /* Centrar el título */
    }

.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri', sans-serif;
    font-size: 18px;
    color: white;
    text-align: left; /* Alineación del texto a la izquierda */
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 10px;
}

    .form-register a:hover {
        color: white;
        text-decoration: underline;
    }

.form-register .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    cursor: pointer;
}

    .form-register .botons:hover {
        background-color: #0a8c64;
    }

/* Ajustar la longitud de los TextBox */
.form-register .controls {
    width: 100%; /* Asegurarse de que el ancho sea del 100% del contenedor */
    max-width: 350px; /* Limitar el ancho máximo */
    margin: 0 auto; /* Centrar los TextBox */
}

.form-label {
    text-align: left; /* Asegurar que los labels se alineen a la izquierda */
    display: block;
    margin-bottom: 8px;
}


/*footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}*/
