.encuadre {
	font-size: 1.3rem; /* Tamaño de la fuente del título */
	font-family: 'Roboto', sans-serif; /* Tipo de fuente */
	font-weight: bold; /* Negrita */
	padding: 1.5rem; /* Espaciado interno */
	max-width: 900px;
	max-height: 900px;
	margin: 15px auto;
	padding: 10px;
	border-radius: 20px;
	background-color: lightsteelblue;
}

label {
	position: relative;
	left: 30px;
}

option {
	position: relative;
	right: 50px;
}

button {
	position: relative;
	left: 750px;
}


.navegador a {
	margin-right: 30px; /* Espacio entre los enlaces */
	color: black; /* Color del texto */
	text-decoration: none; /* Eliminar subrayado de enlaces */
}
.navegador {
	font-size: 1.5rem; /* Tamaño de la fuente del título */
	font-family: 'Roboto', sans-serif; /* Tipo de fuente */
	font-weight: bold; /* Negrita */
	background: linear-gradient(to left, green, white); /* Línea inferior */
	padding: 1.5rem; /* Espaciado interno */
}

.time {
	font-size: 2.5rem; /* Tamaño de la fuente del título */
	position: absolute;
	right: 20px; /* Margen derecho */
}

.footer {
	color: black;
	background-color: black;
	font-size: 1.5rem; /* Tamaño de la fuente del título */
	font-family: 'Roboto', sans-serif; /* Tipo de fuente */
	padding: 0.5rem;
	background: linear-gradient(to left, green, white); /* Línea inferior */
	text-align: center; /* Alineación del texto */
}
