
.salon {
	margin: 50px auto; /* Margen arriba y abajo, centrado horizontalmente */
	background-color: lightblue; /* Color de fondo suave */
	padding: 50px; /* Espacio alrededor del salón */
	border: 1px solid #ccc; /* Borde del salón */
	border-radius: 5px; /* Bordes redondeados del salón */
	box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Sombra suave */
	width: 60%; /* Ancho del salón */
}

.mesa-btn {
	display: inline-block;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	border-radius: 50%;
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	font-size: 18px;
	cursor: pointer;
	margin: 20px;
	transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
}

	.mesa-btn.clicked {
		background-color: #ff0000; /* Color rojo al hacer clic */
		color: #fff; /* Texto blanco para contraste */
	}

